@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* root variables here */

  /******** webform-specific ********/
  --webform-title-font-weight: 500;
  --webform-title-font-style: normal;
  --webform-title-font-size: 32px;
  --webform-page-title-font-weight: 300;
  --webform-page-title-font-style: normal;
  --webform-page-title-font-size: 28px;

  /******** buttons ********/
  --button-border-radius: 8px;
  --button-disabled-background: #f5f5f5;
  --button-disabled-color: #d9d9d9;

  /******** fields ********/
  --field-label-font-weight: 300;
  --field-error-box-shadow: none;
  --field-error-background: transparent;

  /******** field inputs ********/
  --field-input-background-color: transparent;
  --field-input-border: none;
  --field-input-border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  --field-input-focus-box-shadow: none;
  --field-input-padding-x: 0;
}

body,
.forge-flow {
  font-family: 'Inter', serif;
  background-color: #fff;
}

#header-title {
  font-weight: 600;
}

#page-title {
  margin-bottom: 30px;
  font-weight: 600;
}

#page-title::after {
  display: none;
}

.anvil-button {
  background: #5100FE;
  color: white;
}

.form-group .ant-form-item-label {
  padding-bottom: 8px;
}

.form-group label > span {
  font-weight: 500;
}

.form-group input {
  border: 1px solid #DCDDE2;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
}

button.circle-icon-button-container[disabled] .button-circle {
  background: transparent !important;
}

.ant-btn.ant-btn-cta, .ant-btn.ant-btn-cta:hover, .ant-btn.ant-btn-cta:active {
  font-weight: 500;
}


.forge-flow > div:last-child {
  background: #f8f8f8;
  box-shadow: none;
}

.forge-page {
  height: 100%;
}

.forge-page-description {
  color: #767676;
}


body .ant-input:hover,
body .ant-input:focus,
body .ant-input:active,
body .ant-form-item-has-error .ant-input:hover,
body .ant-form-item-has-error .ant-input:active,
body .ant-form-item-has-error .ant-input:focus {
  border-right-width: 1px !important;
}

.form-group input:focus {
  border: 1px solid #4a4dcd;
  background-color: #F5F7FE;
}

.ant-btn {
  border-radius: 5px;
}

.ant-btn.ant-btn-cta,
.ant-btn.ant-btn-cta:hover,
.ant-btn.ant-btn-cta:active {
  background: #111111;
  color: white;
}

.ant-btn.ant-btn-link,
.ant-btn.ant-btn-link:hover,
.ant-btn.ant-btn-link:active {
  color: #5100FE;
}
