@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* root variables here */

  /******** webform-specific ********/
  --webform-title-font-weight: 600;
  --webform-title-font-style: normal;
  --webform-title-font-size: 28px;
  --webform-page-title-font-weight: 600;
  --webform-page-title-font-style: normal;
  --webform-page-title-font-size: 20px;

  /******** buttons ********/
  --button-border-radius: 30px;
  --button-disabled-background: #f5f5f5;
  --button-disabled-color: #d9d9d9;
  --button-background: #111111;
  --button-color: #fff;
  --button-padding-y: 10px;
  --button-padding-x: 20px;

  /******** fields ********/
  --field-label-font-weight: 500;
  --field-error-box-shadow: none;
  --field-error-background: transparent;

  /******** field inputs ********/
  /* These are handled by .form-group input below */
  --field-input-background-color: transparent;
  --field-input-focus-box-shadow: none;
}

html,
body,
.forge-flow {
  font-family: 'Inter', serif;
  background-color: #fff !important;
}

#header-title {
  font-weight: 600;
}

#page-title {
  margin-bottom: 20px;
  font-weight: 600;
}

#page-title::after {
  display: none;
}

.form-group {
  margin-bottom: 24px;
}


.form-group .ant-form-item-label {
  padding-bottom: 8px;
}

.form-group label > span {
  font-weight: 500;
}

.form-group input {
  border: 1px solid #DCDDE2;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
}

button.circle-icon-button-container[disabled] .button-circle {
  background: transparent !important;
}

.ant-btn.ant-btn-cta, .ant-btn.ant-btn-cta:hover, .ant-btn.ant-btn-cta:active {
  font-weight: 500;
}

.forge-flow {
  height: auto;
}

.anvil-tooltip {
  display: none;
  gap: 20px;
}

.anvil-webform-step-bar {
  background: #fff;
  border: none;
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.anvil-webform-step-bar .anvil-circle-icon-button {
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
}

.jlQEAU {
  display: flex;
  justify-content: flex-end;
  box-shadow: none;
}

.jkfRYf {
  background: #fff;
}

.anvil-webform-step-bar .anvil-circle-icon-button svg {
  color: grey;
}

.anvil-webform-flow {
  display: flex;
  flex-direction: column-reverse;
}

.anvil-button-bar {
  flex-direction: row-reverse;
  gap: 20px;
}

.forge-page {
  height: auto;
}

.forge-page-description {
  color: #767676;
  margin-bottom: 24px;
}

.khwwsE {
  max-width: 800px;
}

body .ant-input:hover,
body .ant-input:focus,
body .ant-input:active,
body .ant-form-item-has-error .ant-input:hover,
body .ant-form-item-has-error .ant-input:active,
body .ant-form-item-has-error .ant-input:focus {
  border-right-width: 1px !important;
}

/* .ant-btn {
  border-radius: 5px;
} */

.ant-btn.ant-btn-cta,
.ant-btn.ant-btn-cta:hover,
.ant-btn.ant-btn-cta:active {
  background: #111111;
  color: white;
}

.ant-btn.ant-btn-link,
.ant-btn.ant-btn-link:hover,
.ant-btn.ant-btn-link:active {
  color: #767676;
}

.anvil-button-bar .ant-btn-link,
.anvil-button-bar .ant-btn-link:hover,
.anvil-button-bar .ant-btn-link:focus,
.anvil-button-bar .ant-btn-link:active {
  /* background: #111111; */
  color: #767676;;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0;
}

.anvil-button-bar .ant-btn-link::before {
  content: '🔖';
  font-size: 16px;
}

.anvil-content-card {
  border: none;
  padding: 20px;
  margin-bottom: 24px;
}

.anvil-content-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.anvil-content-title-subtitle {
  color: #767676;
  margin-bottom: 24px;
}

.anvil-list-input-save-button.ant-btn-link {
  color: #767676;
  font-weight: 500;
}