@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* root variables here */

  /******** webform-specific ********/
  --webform-title-font-weight: 600;
  --webform-title-font-style: normal;
  --webform-title-font-size: 28px;
  --webform-page-title-font-weight: 600;
  --webform-page-title-font-style: normal;
  --webform-page-title-font-size: 20px;

  /******** buttons ********/
  --button-border-radius: 8px;
  --button-disabled-background: #f5f5f5;
  --button-disabled-color: #d9d9d9;
  --button-padding-y: 10px;
  --button-padding-x: 20px;

  /******** fields ********/
  --field-label-font-weight: 500;
  --field-error-box-shadow: none;
  --field-error-background: transparent;

  /******** field inputs ********/
  /* These are handled by .form-group input below */
  --field-input-background-color: transparent;
  --field-input-border-radius: 8px;
  --field-input-border: 2px solid #E0E0E0;
  --field-input-focus-border-color: #E0E0E0;
  --field-error-border-color: #C44040;
  --field-input-hover-border-color: #E0E0E0;

  /******** radio buttons ********/
  --radio-buttons-selected-background: #777777;
  --radio-buttons-selected-color: #fff;
  --radio-buttons-hover-color: rgba(0, 0, 0, 1);
  --radio-buttons-hover-background: #D9D9D9;
  --radio-buttons-unselected-background: #fff;
  --radio-buttons-unselected-color: rgba(0, 0, 0, 1);
  --radio-buttons-unselected-border-color: #E0E0E0;

  --circle-icon-border-radius: 8px;
  --circle-icon-button-hover-background: #D9D9D9;
  --circle-icon-background: #fff;
  --circle-icon-color: #777777;

  --checkbox-checked-background: #5100FE;
  --checkbox-check-hover-border-color: #5100FE;
  --checkbox-checked-border-color: #5100FE;
  --checkbox-unchecked-border-color: #E8E4FF;

  --dropdown-placeholder-active-background: #E8E4FF;
  --dropdown-option-active-background-color: #E8E4FF;

  --dropzone-file-error-color: #C44040;
  --dropzone-border: 2px dashed #E0E0E0;
  --dropzone-upload-button-hover-color: #fff;
  --dropzone-upload-button-hover-background: rgba(0, 0, 0, 1);
  --dropzone-upload-button-background: rgba(0, 0, 0, 1);
  --dropzone-upload-button-color: #fff;

  --loading-spinner-color: #5100FE;

  --content-title-subtitle-color: #767676;
}

html,
body,
.forge-flow {
  font-family: 'Inter', serif;
  background-color: #F9F7F5 !important;
  height: auto;
}

#header-title {
  font-weight: 600;
}

#page-title {
  margin-bottom: 20px;
  font-weight: 600;
}

#page-title::after {
  display: none;
}

.form-group {
  margin-bottom: 24px;
}


.form-group .ant-form-item-label {
  padding-bottom: 8px;
}

.form-group label > span {
  font-weight: 500;
}

.form-group input {
  border: 1px solid #DCDDE2;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
}

/* Add, Save Item inside the list objects */
.dbNvle .content {
  color: #E0E0E0;
}
.dbNvle:hover .content {
  color: #E8E4FF;
}

a {
  color: #5100FE;
}

a:hover {
  color: #E8E4FF;
}

.ant-btn.ant-btn-cta, .ant-btn.ant-btn-cta:hover, .ant-btn.ant-btn-cta:active {
  font-weight: 500;
}

.forge-flow {
  height: auto;
}

/* Uploader/dropzone */
.dmqxWM > svg {
  display: none !important;
}

/* Step bar text color */
.gvOLR {
  color: #777777;
}

/* Hide powered by anvil and logo */
.anvil-tooltip {
  display: none;
  gap: 20px;
}
.dYIJxf {
  display: none;
}


/* Step bar */
.anvil-webform-step-bar {
  background: #F9F7F5;
  border: none;
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Step forward and back circle buttons */
.dbNvle .button-circle {
  background: #fff;
}
.anvil-webform-step-bar .anvil-circle-icon-button {
  border-radius: 8px;
}
.dbNvle .button-circle svg path, .dbNvle .button-circle svg rect, .dbNvle .button-circle svg circle {
  fill: #666666;
}

/* Hide step forward and back circle buttons when disabled */
.button.circle-icon-button-container[disabled] .button-circle {
  display: none;
}

/* Step bar bottom border and container */
.jlQEAU {
  display: flex;
  justify-content: flex-end;
  box-shadow: none;
}


/* Page background color */
.jkfRYf {
  background: #F9F7F5;
}

/* Container that holds the main page and the stepper bar */
.anvil-webform-flow {
  display: flex;
  flex-direction: column-reverse;
}

.anvil-button-bar {
  flex-direction: row-reverse;
  gap: 20px;
}

.forge-page {
  height: auto;
}

.forge-page-description {
  color: #767676;
  margin-bottom: 24px;
}

/* .khwwsE {
  max-width: 800px;
} */

body .ant-input:hover,
body .ant-input:focus,
body .ant-input:active,
body .ant-form-item-has-error .ant-input:hover,
body .ant-form-item-has-error .ant-input:active,
body .ant-form-item-has-error .ant-input:focus {
  border-right-width: 1px !important;
}

/* .ant-btn.ant-btn-cta,
.ant-btn.ant-btn-cta:hover,
.ant-btn.ant-btn-cta:active {
  background: #111111;
  color: #767676;
} */

/* .anvil-button-bar .anvil-button {
  background: #111111;
  color: white;
}

.anvil-webform-save-and-continue-button {
  background: #111111;
  color: white;
} */

.anvil-content-card {
  border: none;
  padding: 20px;
  margin-bottom: 24px;
}

.anvil-content-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.anvil-content-title-subtitle {
  color: #767676;
  margin-bottom: 24px;
}

.anvil-list-input-save-button.ant-btn-link {
  color: #767676;
  font-weight: 500;
}